figurasprueba/
resultadosprueba/
Bastida_SS.ipynb
ChaosGame_Bastida.ipynb
ChaosGame_DNA.ipynb
DNAChaosGame_Bastida.ipynb
SS.ipynb
data/chr_19.txt
data/chr_20.txt
String_trimmer.ipynb
CGDNA.zip
Draft1.ipynb
Draft2.ipynb
Project.ipynb
